ol,
ul {
  margin-top: 0;
  margin-bottom: 9px
}

a {
  color: black;
  text-decoration: none;
  background: transparent;
}


header {
  line-height: 60px;
  font-weight: 400;
  box-shadow: 0 1px 3px 0 #fafafa;
  height: 60px;
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10000;
}

#header {
  position: relative;
  width: 970px;
  margin: 0 auto;
  background: red;
}

#header .menu {
  float: left;
  line-height: 60px;
  margin-bottom: 0;
  font-size: 13px;
  list-style: none;
}

#header .menu li {
  display: inline-block;
}

#header .menu li a {
  display: block;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  padding: 0 20px;
}

#header .menu li a:hover {
  background: #235cce;
  color: white;
}

#header .name {
  color: #000;
  height: 60px;
  float: left;
  margin-right: 30px;
  margin-top: 0;
  font-size: 24px;
  font-variant: small-caps;
}

.active {
  border-bottom: 1px solid black;
}