.main {
  padding-top: 60px;
  padding-bottom: 2em;
  min-height: calc(100vh - 75px);
}

.infoCardContainer {
  height: fit-content;
}

.sideCard {
  margin: 4em 0;
}

.infoCard {
  background-color: rgba(255, 255, 255, 0.75) !important;
  animation-name: fadeColorBlue;
  animation-duration: 4s;
}

.whatsappCard {
  background-color: rgba(255, 255, 255, 0.75) !important;
  animation-name: fadeColorGreen;
  animation-duration: 4s;
}

.center {
  text-align: center;
}

.text-danger {
  color: red;
}
.text-muted {
  color: gray;
}
.text-white {
  color: white;
}

.card-actions {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.card-header {
  text-align: center;
}

.card-description {
  font-size: 16px;
}

.img-fluid {
  width: 100%;
}

.screen-header{ 
  padding-top: 2em;
}

.spaced {
  margin: 2em 0;
}

@keyframes fadeColorBlue {
  from {
    background-color: rgba(255, 255, 255, 1) !important;
  }
  to {
    background-color: rgba(255, 255, 255, 0.75) !important;
  }
}
@keyframes fadeColorGreen {
  from {
    background-color: rgba(255, 255, 255, 1) !important;
  }
  to {
    background-color: rgba(255, 255, 255, 0.75) !important;
  }
}
